/* ---- content styles ----- */

.container {
	height: 90vh; }

.header-scroll {
	transition: height 1s ease 1s; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
	padding: 2.5rem;

	@include tablet-large {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1.5rem; }

	@include desktop {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		margin-left: 0rem; } }

.search-area {
	align-self: center;

	@include tablet-large {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center; } }

.logo {
	margin-bottom: 1rem;

	@include tablet-large {
		margin-bottom: 0; }

	@include desktop {
		margin-bottom: 0;
		align-self: center; }

	img {
		width: 300px;

		@include tablet-large {
			width: 280px;
			padding-right: 1.5rem; }

		@include desktop {
			width: 280px;
			padding-right: 1.5rem; } } }

.search {
	width: 18.5rem;
	border-bottom: 1px solid #ffffff;

	@include tablet-large {
		width: 20rem;
		margin-bottom: 0.25rem; }

	@include desktop {
		width: 20rem;
		margin-bottom: 0.25rem;
		align-self: center; } }

form {
	display: flex;
  justify-content: center;
	align-items: baseline;

	form label {
		display: none; } }

#hashtag {
	font-family: "Open Sans", sans-serif;
	font-size: 1.1rem;
	font-weight: normal;
	color: #c2c2c2;
	background-color: #000000;
	border: 0px;
	padding: 0.35rem 2rem;
	width: 100%; }

button {
	font-size: 1.1rem;
	font-weight: bolder;
	color: #ffffff;
	background-color: #000000;
	cursor: pointer;
	border: 0px;
	margin-left: -2rem;

	&:hover {
	color: #e2231a; } }

.hashtag-icon {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
	color: #ffffff;
	margin-right: -1.25rem;
	z-index: 100; }

.loader {
	display: none;
	background: url('../../images/ajax-loader.gif') no-repeat;
	background-size: cover, cover;
	width: 38px;
	height: 38px;
	margin: 1rem auto 0; }

/* --------------------- photo grid ------------------------- */

.photos {
	margin-bottom: 1.5rem;

	@include tablet {
		display: flex;
		flex-wrap: wrap; }

	li {
		max-width: 100%;

		@include tablet {
			flex: 0 1 50%;
			max-width: 50%; }

		@include tablet-large {
			flex: 0 1 33.33%;
			max-width: 33.33%; }

		@include desktop {
			flex: 0 1 25%;
			max-width: 25%; } } }

.instaItem {
	position: relative;

	a img {
		width: 100%; } }

.user-info {
	background: rgba(0,0,0,0.6);
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem;
	position: absolute;
	bottom: 0rem; }

.profile-photo {
	width: 30%;
	align-content: flex-start;

	@include tablet-large {
		width: 50%;
		align-content: flex-start; }

	img {
		border-radius: 50%;
		width: 40%; } }

.user-social {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-align: right;
	width: 70%;
	display: flex;
	justify-content: flex-end;

	p {
		margin-bottom: 0.4rem; } }

.social-inner {
	align-self: center; }
.comments-icon:after {
	content: "\f086";
	padding-right: 0.3rem; }

.heart-icon:after {
	content: "\f004";
	padding-right: 0.3rem;
	padding-left: 0.8rem; }

.error-message {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-size: 0.8rem;
	color: #ffffff;
	text-align: center;
	margin-bottom: 2rem; }

/* --------------------- footer ------------------------- */

footer {
	text-align: center;
	height: 10vh;

	@include desktop {
		text-align: left;
		height: 10vh;
		margin-left: 2rem; } }

.copyright {
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	font-size: 0.9rem;
	color: #c2c2c2;

	span {
		text-transform: uppercase; } }
