/* ======= global styles ====== */

body {
		margin: 0;
		background-color: #000;
}

html {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	outline: none;
 }

 img {
	 max-width: 100%;
	 height: auto;
 }
